.signup{
    background-color: #fff;
    padding: 1rem;
    border-radius: 1rem;
    &__head{
        padding-bottom: 1rem;
        border-bottom: 1px solid #dadde1;
        margin-bottom: 1rem;
        h3{
            font-size: 2rem;
            font-weight: 700;
            margin-bottom: 0.5rem;
        }
    }
}

.terms{
    font-size: 0.75rem;
max-width: 500px;
}